In [1]:
import pandas as pd

In [2]:
url = "https://raw.githubusercontent.com/propublica/compas-analysis/refs/heads/master/compas-scores-two-years.csv"
df = pd.read_csv(url)

In [3]:
df.head()

,id,name,first,last,compas_screening_date,sex,dob,age,age_cat,race,...,v_decile_score,v_score_text,v_screening_date,in_custody,out_custody,priors_count.1,start,end,event,two_year_recid
0,1,miguel hernandez,miguel,hernandez,2013-08-14,Male,1947-04-18,69,Greater than 45,Other,...,1,Low,2013-08-14,2014-07-07,2014-07-14,0,0,327,0,0
1,3,kevon dixon,kevon,dixon,2013-01-27,Male,1982-01-22,34,25 - 45,African-American,...,1,Low,2013-01-27,2013-01-26,2013-02-05,0,9,159,1,1
2,4,ed philo,ed,philo,2013-04-14,Male,1991-05-14,24,Less than 25,African-American,...,3,Low,2013-04-14,2013-06-16,2013-06-16,4,0,63,0,1
3,5,marcu brown,marcu,brown,2013-01-13,Male,1993-01-21,23,Less than 25,African-American,...,6,Medium,2013-01-13,NaN,NaN,1,0,1174,0,0
4,6,bouthy pierrelouis,bouthy,pierrelouis,2013-03-26,Male,1973-01-22,43,25 - 45,Other,...,1,Low,2013-03-26,NaN,NaN,2,0,1102,0,0

In [4]:
df.shape

(7214, 53)

In [5]:
from utils import calculate_nan_percentage_of_grouped_features

missing_stat = calculate_nan_percentage_of_grouped_features(df, "data/compas-scores-two-years/features.yaml")

In [6]:
display(missing_stat)

     Category                  Feature  Missing_Count  Missing_Percentage
36  Covariate          vr_offense_date           6395           88.647075
28  Covariate           r_offense_date           3743           51.885223
19  Covariate           c_offense_date           1159           16.065983
15  Covariate  days_b_screening_arrest            307            4.255614
21  Covariate       c_days_from_compas             22            0.304963
14  Covariate             priors_count              0            0.000000
13  Covariate          juv_other_count              0            0.000000
10  Covariate            juv_fel_count              0            0.000000
6   Covariate                      dob              0            0.000000
1   Covariate                     name              0            0.000000
12  Covariate           juv_misd_count              0            0.000000
48  Covariate           priors_count.1              0            0.000000
7   Sensitive                      age              0            0.000000
9   Sensitive                     race              0            0.000000
8   Sensitive                  age_cat              0            0.000000
5   Sensitive                      sex              0            0.000000
32     Target            violent_recid           7214          100.000000
33     Target         is_violent_recid              0            0.000000
24     Target                 is_recid              0            0.000000
52     Target           two_year_recid              0            0.000000
35  Treatment         vr_charge_degree           6395           88.647075
37  Treatment           vr_charge_desc           6395           88.647075
30  Treatment                r_jail_in           4898           67.895758
27  Treatment       r_days_from_arrest           4898           67.895758
31  Treatment               r_jail_out           4898           67.895758
29  Treatment            r_charge_desc           3801           52.689215
26  Treatment          r_charge_degree           3743           51.885223
16  Treatment                c_jail_in            307            4.255614
17  Treatment               c_jail_out            307            4.255614
47  Treatment              out_custody            236            3.271417
46  Treatment               in_custody            236            3.271417
23  Treatment            c_charge_desc             29            0.401996
11  Treatment             decile_score              0            0.000000
22  Treatment          c_charge_degree              0            0.000000
38  Treatment       type_of_assessment              0            0.000000
42  Treatment     v_type_of_assessment              0            0.000000
39  Treatment           decile_score.1              0            0.000000
40  Treatment               score_text              0            0.000000
44  Treatment             v_score_text              0            0.000000
43  Treatment           v_decile_score              0            0.000000