In [40]:
import pandas as pd
import numpy as np

import utils

In [41]:
df = pd.read_csv("data/compas-scores-two-years/data.csv")

## Dataset: compas-scores-two-years

In [42]:
from utils import display_dataframe_info
display_dataframe_info(df)

DataFrame shape: (7214, 53) (rows, columns)
--------------------------------------------------
First 5 rows of the DataFrame:

   id                name   first  ...   end event two_year_recid
0   1    miguel hernandez  miguel  ...   327     0              0
1   3         kevon dixon   kevon  ...   159     1              1
2   4            ed philo      ed  ...    63     0              1
3   5         marcu brown   marcu  ...  1174     0              0
4   6  bouthy pierrelouis  bouthy  ...  1102     0              0

[5 rows x 53 columns]

### Handle missing values & irrelevant features

In [43]:
from utils import calculate_nan_percentage_of_grouped_features

missing_stat = calculate_nan_percentage_of_grouped_features(df, "data/compas-scores-two-years/features.yaml")

In [44]:
print("Missing values before preprocessing:")
display(missing_stat)

Missing values before preprocessing:

     Category                  Feature  Missing_Count  Missing_Percentage
36  Covariate          vr_offense_date           6395           88.647075
28  Covariate           r_offense_date           3743           51.885223
19  Covariate           c_offense_date           1159           16.065983
21  Covariate       c_days_from_compas             22            0.304963
14  Covariate             priors_count              0            0.000000
13  Covariate          juv_other_count              0            0.000000
10  Covariate            juv_fel_count              0            0.000000
6   Covariate                      dob              0            0.000000
12  Covariate           juv_misd_count              0            0.000000
48  Covariate           priors_count.1              0            0.000000
34      Other           vr_case_number           6395           88.647075
20      Other            c_arrest_date           6077           84.238980
25      Other            r_case_number           3743           51.885223
18      Other            c_case_number             22            0.304963
3       Other                     last              0            0.000000
0       Other                       id              0            0.000000
1       Other                     name              0            0.000000
2       Other                    first              0            0.000000
4       Other    compas_screening_date              0            0.000000
41      Other           screening_date              0            0.000000
49      Other                    start              0            0.000000
50      Other                      end              0            0.000000
51      Other                    event              0            0.000000
7   Sensitive                      age              0            0.000000
9   Sensitive                     race              0            0.000000
8   Sensitive                  age_cat              0            0.000000
5   Sensitive                      sex              0            0.000000
32     Target            violent_recid           7214          100.000000
33     Target         is_violent_recid              0            0.000000
24     Target                 is_recid              0            0.000000
52     Target           two_year_recid              0            0.000000
35  Treatment         vr_charge_degree           6395           88.647075
37  Treatment           vr_charge_desc           6395           88.647075
30  Treatment                r_jail_in           4898           67.895758
27  Treatment       r_days_from_arrest           4898           67.895758
31  Treatment               r_jail_out           4898           67.895758
29  Treatment            r_charge_desc           3801           52.689215
26  Treatment          r_charge_degree           3743           51.885223
15  Treatment  days_b_screening_arrest            307            4.255614
16  Treatment                c_jail_in            307            4.255614
17  Treatment               c_jail_out            307            4.255614
47  Treatment              out_custody            236            3.271417
46  Treatment               in_custody            236            3.271417
23  Treatment            c_charge_desc             29            0.401996
11  Treatment             decile_score              0            0.000000
22  Treatment          c_charge_degree              0            0.000000
38  Treatment       type_of_assessment              0            0.000000
42  Treatment     v_type_of_assessment              0            0.000000
39  Treatment           decile_score.1              0            0.000000
40  Treatment               score_text              0            0.000000
44  Treatment             v_score_text              0            0.000000
43  Treatment           v_decile_score              0            0.000000

Remove some data entries that are inconsistent according to [ProPublica notebook](https://github.com/propublica/compas-analysis/blob/master/Compas%20Analysis.ipynb).

In [45]:
df = df[(df['days_b_screening_arrest'] <= 30) & 
        (df['days_b_screening_arrest'] >= -30) & 
        (df['is_recid'] != -1) & 
        (df['c_charge_degree'] != 'O') & 
        (df['score_text'] != 'N/A') &
        (df.end > df.start)
        ]

Remove duplicated features

In [46]:
df.drop("priors_count.1", inplace=True, axis=1)  # remove column that duplicates "priors_count"

In [47]:
df.drop("decile_score.1", inplace=True, axis=1)  # remove column that duplicates "decile_score"

In [48]:
df.drop("screening_date", inplace=True, axis=1)  # remove column that duplicates "compas_screening_date"

Remove irrelevant features

In [49]:
df.drop(
    [
        "vr_offense_date",
        "violent_recid",
        "is_violent_recid",
        "vr_charge_degree",
        "vr_charge_desc",
        "v_type_of_assessment",
        "v_score_text",
        "v_decile_score",
    ],
    inplace=True,
    axis=1
)  # remove features associated with violent recidivism

In [50]:
df.drop("vr_case_number", inplace=True, axis=1)  # remove features associated with violent recidivism

In [51]:
df.drop(
    [
        "r_case_number",
        "c_case_number",
        "id"
    ],
    inplace=True,
    axis=1
)  # features with unique values that are not useful for prediction

In [52]:
df.drop("type_of_assessment", inplace=True, axis=1)  # constant feature with value "Risk of Recidivism"

Drop features that have less than 20% non-NA values.

In [53]:
df.dropna(inplace=True, axis=1, thresh=df.shape[0] * 0.2)

Remove features that we are not going to use for prediction.

In [54]:
df.drop(
    [
        "start",
        "end",
        "event",
        "name",
        "last",
        "first"
    ],
    inplace=True,
    axis=1
)

In [55]:
missing_stat_after = calculate_nan_percentage_of_grouped_features(df, "data/compas-scores-two-years/features.yaml")
print("Missing values after preprocessing:")
display(missing_stat_after)

Missing values after preprocessing:

     Category                  Feature  Missing_Count  Missing_Percentage
21  Covariate           r_offense_date           3182           51.622323
14  Covariate           c_offense_date            781           12.670344
2   Covariate                      dob              0            0.000000
10  Covariate             priors_count              0            0.000000
9   Covariate          juv_other_count              0            0.000000
8   Covariate           juv_misd_count              0            0.000000
6   Covariate            juv_fel_count              0            0.000000
15  Covariate       c_days_from_compas              0            0.000000
0       Other    compas_screening_date              0            0.000000
1   Sensitive                      sex              0            0.000000
3   Sensitive                      age              0            0.000000
4   Sensitive                  age_cat              0            0.000000
5   Sensitive                     race              0            0.000000
18     Target                 is_recid              0            0.000000
29     Target           two_year_recid              0            0.000000
23  Treatment                r_jail_in           4174           67.715769
20  Treatment       r_days_from_arrest           4174           67.715769
24  Treatment               r_jail_out           4174           67.715769
22  Treatment            r_charge_desc           3228           52.368592
19  Treatment          r_charge_degree           3182           51.622323
17  Treatment            c_charge_desc              5            0.081116
13  Treatment               c_jail_out              0            0.000000
12  Treatment                c_jail_in              0            0.000000
11  Treatment  days_b_screening_arrest              0            0.000000
7   Treatment             decile_score              0            0.000000
16  Treatment          c_charge_degree              0            0.000000
25  Treatment               score_text              0            0.000000
27  Treatment               in_custody              0            0.000000
28  Treatment              out_custody              0            0.000000

References mentioned below:
- [1] [Notebook](https://github.com/fair-preprocessing/nips2017/blob/master/compas/code/Generate_Compas_Data.ipynb) supplementing [Optimized Data Pre-Processing for Discrimination Prevention](https://arxiv.org/abs/1704.03354) *NeurIPS 2017, 1084 citations by now*  
- [2] Data analysis by [ProPublica](https://github.com/propublica/compas-analysis/blob/master/Compas%20Analysis.ipynb) (authors of the dataset)

In [56]:
df1 = df[['age','c_charge_degree', 'race', 'age_cat', 'score_text', 'sex', 'priors_count', 
        'days_b_screening_arrest', 'decile_score', 'is_recid', 'two_year_recid', 'c_jail_in',
        'c_jail_out', "c_offense_date", "dob", "juv_other_count", "juv_misd_count",
        "juv_fel_count"]].copy()

In [57]:
df1["c_length_of_stay"] = (pd.to_datetime(df1['c_jail_out']) - pd.to_datetime(df1['c_jail_in'])).apply(lambda x: x.days)

Add age when commited current crime since `df["age"]` is sometimes inconsistent.

In [58]:
df1["c_age"] = ((pd.to_datetime(df.c_offense_date) - pd.to_datetime(df.dob)).dt.days / 365.25).round(0)  # age when commited current crime
df1["c_age"] = df1["c_age"].fillna(df["age"]).astype(int)  # "c_offense_date" has missing values, replace them with values of "age

In [59]:
def categorize_age(age):
    if age < 25:
        return 0
    elif 25 <= age <= 45:
        return 1
    else:  # age > 45
        return 2

df1["c_age_cat"] = df1["c_age"].apply(categorize_age)

In `race`, [1] keeps only African-American and Caucasian and drops others. [2] keeps all races. We keep African-American, Caucasian, and put the rest to "Other" category.

In [60]:
def group_races(race):
    if race in ['African-American', 'Caucasian']:
        return race
    else:
        return 'Other'

df1["race"] = df["race"].apply(group_races)

Remove features not useful for training.

In [61]:
df1.drop(
    [
        "age",
        "age_cat",
        "c_jail_in",
        "c_jail_out",
        "c_offense_date",
        "dob",
        "days_b_screening_arrest"
    ],
    axis=1,
    inplace=True
)

In [62]:
display_dataframe_info(df1)

DataFrame shape: (6164, 14) (rows, columns)
--------------------------------------------------
First 5 rows of the DataFrame:

  c_charge_degree              race  ... c_age c_age_cat
0               F             Other  ...    66         2
1               F  African-American  ...    31         1
2               F  African-American  ...    22         0
5               M             Other  ...    42         1
6               F         Caucasian  ...    40         1

[5 rows x 14 columns]

### Process categorical features

In [63]:
cat_features_df1 = ["c_charge_degree", "race", "score_text", "sex"]

**Race**  
Race has three categories. To avoid emposing any order, use One-Hot Encoding.

In [64]:
from sklearn.preprocessing import OneHotEncoder

ohe = OneHotEncoder(sparse_output=False, categories=[["African-American", "Caucasian", "Other"]], drop=['Other'])
race_encoded = ohe.fit_transform(df1[["race"]]).astype(int)
race_df1 = pd.DataFrame(
    race_encoded,
    columns=['race_African-American', 'race_Caucasian'],
    index=df1.index
)
df1 = df1.drop(["race"], axis=1)
df1 = pd.concat([df1, race_df1], axis=1)

**COMPAS score**

Both [1] and [2] make `score_text` feature binary, we'll do the same. Note that this feature is based on `decile_score` variable.

In [65]:
df1["score_text"] = df1["score_text"].apply(
    lambda x: 'Low' if x == 'Low' else 'MediumHigh'
)
df1["score_cat"] = (df1['score_text'] == 'MediumHigh').astype(int)
df1.drop("score_text", axis=1, inplace=True)

**Sex and `c_charge_degree`**   
Encode into binary.

In [66]:
df1["sex"] = (df1['sex'] == 'Male').astype(int)

In [67]:
df1["c_charge_degree"] = (df1["c_charge_degree"] == "F").astype(int)

### Process numerical variables
Apply min-max scaling to numerical features.

In [68]:
from sklearn.preprocessing import MinMaxScaler

columns = ["priors_count", "decile_score", "juv_other_count",
           "juv_misd_count", "juv_fel_count", "c_length_of_stay", "c_age"]

minmax_scaler = MinMaxScaler()
df1[columns] = minmax_scaler.fit_transform(df1[columns])

### Final steps

In [69]:
print("Dataset after preprocessing \n")
display_dataframe_info(df1)

Dataset after preprocessing

DataFrame shape: (6164, 15) (rows, columns)
--------------------------------------------------
First 5 rows of the DataFrame:

   c_charge_degree  sex  ...  race_Caucasian  score_cat
0                1    1  ...               0          0
1                1    1  ...               0          0
2                1    1  ...               0          0
5                0    1  ...               0          0
6                1    1  ...               1          1

[5 rows x 15 columns]

Before exporting final dataset, group features to sensitive (s1, s2, ...), covariate (x1, x2, ...), treatment (z1, z2, ...), and target (y1, y2, ...).

In [70]:
# features excluded:
# c_age, we use c_age_cat instead
# score_cat, we use decile_score instead

features_dict = {
    "sensitive": ["sex", "c_age_cat", "race_African-American", "race_Caucasian"],
    "covariate": ["priors_count", "juv_other_count", "juv_misd_count", "juv_fel_count"],
    "treatment": ["c_charge_degree", "decile_score", "c_length_of_stay"],
    "target": ["is_recid", "two_year_recid"]
}

In [71]:
from utils import group_and_rename_columns

df1_final = group_and_rename_columns(df1, features_dict)

In [72]:
print("Final dataset \n")
display_dataframe_info(df1_final)

Final dataset

DataFrame shape: (6164, 13) (rows, columns)
--------------------------------------------------
First 5 rows of the DataFrame:

   s1  s2  s3  s4        x1        x2   x3   x4  z1        z2       z3  y1  y2
0   1   2   0   0  0.000000  0.000000  0.0  0.0   1  0.000000  0.00125   0   0
1   1   1   1   0  0.000000  0.000000  0.0  0.0   1  0.222222  0.01375   1   1
2   1   0   1   0  0.105263  0.111111  0.0  0.0   1  0.333333  0.00250   1   1
5   1   1   0   0  0.000000  0.000000  0.0  0.0   0  0.000000  0.00250   0   0
6   1   1   0   1  0.368421  0.000000  0.0  0.0   1  0.555556  0.00875   1   1

In [73]:
df1_final.to_csv("data/compas-scores-two-years/data_preprocessed.csv", index=False)